body{
        background-color: lightblue;
    }
    .image_container{
        display: inline-block;
        width: 85%;
        position: relative;
        float: left;
    }
    .discussed{
        display: inline-block;
        width: 15%;
        float: left;
    }
    .positions{
        background-color: white;
        border-style: solid;
        border-width: medium;
        border-color: black;
        padding: 5px;
    }
    #scene_title{
        font-family: Arial, Helvetica, sans-serif;
    }
    select{
        /*-moz-appearance: none;*/
        /*-webkit-appearance: none;*/
        cursor: pointer;
        /*border-width: medium;*/
        /*border-color: orangered;*/
        border: transparent;
        /*background-color: transparent;*/
        width: 50px;
        height: 50px;
    }
    label{
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-large;
        /*color: red;*/
    }
    #submit{
        top: 50%;
        left: 100%;
        padding: 30px;
        margin-left: 5%;
        font-size: x-large;
        position: absolute;
        cursor: pointer;
        background-color: snow;
    }
    #show{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 50px;
        font-size: x-large;
        cursor: pointer;
    }
    img{
        width: 100%;
        right: auto;
    }
    #scene_title{
        text-align: center;
        margin: auto;
        width: 50%;
    }
    #char1{
        width: 50%;
        display: none;
    }
    #char2{
        width: 50%;
        display: none;
    }
    #char3{
        width: 50%;
        display: none;
    }
    #char4{
        width: 50%;
        display: none;
    }
    #char5{
        width: 50%;
        display: none;
    }
    #char6{
        width: 50%;
        display: none;
    }
    #char7{
        width: 50%;
        display: none;
    }
    #char8{
        width: 50%;
        display: none;
    }
    #char9{
        width: 50%;
        display: none;
    }
    #char10{
        width: 50%;
        display: none;
    }
    #char11{
        width: 50%;
        display: none;
    }
    #char12{
        width: 50%;
        display: none;
    }